/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;

}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;

}
ol, ul {
	list-style: none;
    background-color: #E49393;;
}
blockquote, q {
	quotes: none;
    background-color: rgb(216, 216, 216);
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
    background-color: rgb(228, 147, 147);
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(228, 147, 147);
    padding: 30px;

}

.nav-left {
    align-items: center;
    background-color: rgb(228, 147, 147);


}

header {
    text-align: center;
}
.nav-right {
    width: 80%;

}

.nav-right a {
text-decoration: none;
color: #245953;
text-shadow: 1px 1px 2px pink;
transition-property: background-color color text-shadow;
transition-duration: 1s;
transition-delay: 0s;
}

.nav-right a:active {
    color: white;
}

.nav-right a:hover {
    cursor: pointer;
    border: 2px dotted #245953;
    background-color: #245953;
    color:rgb(228, 147, 147);
    text-shadow: none;
    }

ul {
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 147, 147);
}


li:hover {
    cursor: pointer;
}


header {
    border: 2px solid rgb(228, 147, 147);
    background-color: rgb(228, 147, 147);
    padding-bottom: 25px;
}

#home {
    color:#D8D8D8;

}

h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
    text-align: center;
}
#duck {
    display: flex;
    flex-direction: column;

    background-color: #D8D8D8;

}

.text {
    background-color: #408E91;
    text-align: center;
    padding-bottom: 25px;
    color:rgb(216, 216, 216)
}

.rubberDuckimg:hover {
    animation: 1.5s linear 1s infinite alternate slidein;
}

.rubberDuckimg {
    padding-right: 1200px;
}

.duck {
    background-color: #D8D8D8;
    text-align: center;
}

.duck img {
    width: 150px;
    height: 150px;
}


@keyframes slidein {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }


.duck img:hover {
    border-radius: 2rem;
    animation-name: slidein;

}



#emergency {
    background-color: #408E91;
    color: #D8D8D8;
    padding: 50px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    width: 80%;
    margin: 0 auto;
    background-color: #D8D8D8;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #D8D8D8;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0s;
}

.grid-item:hover {
    border: 2px dotted #245953;
    background-color: #E49393;
}

a {
    text-decoration: none;
    color: #245953;
}


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #245953;
}

footer h2,footer div {
    color:#D8D8D8;
}

footer > form :not(button) {
    background-color: #D8D8D8;
}

form {
    margin-bottom: 25px;
}
input:focus,
textarea:focus {
background-color: #E49393;
}

textarea {
    width: 150px;
    height: 25;
}

button {
background-color: #D8D8D8;
}
button:hover {
    background-color: #E49393;
    padding: 5px;
    cursor: wait;

}